# 변수 사용하기

In [1]:
math_score=10
science_score=200

In [2]:
average_score=(math_score+science_score)/2

In [3]:
average_score

105.0

In [103]:
a, b = ('python', 'life')

In [104]:
a

'python'

In [105]:
b

'life'

# 튜플(Tuple) 사용하기

In [4]:
power2=(2**1,2**2,2**3,2**4,2**5,)

In [5]:
power2

(2, 4, 8, 16, 32)

In [6]:
power2[0]+power2[1]+power2[2]

14

In [7]:
power2[0]+power2[1]+power2[2]==2+4+8

True

In [8]:
power3=(3**1,3**2,3**3,3**4,3**5,)

In [9]:
power3

(3, 9, 27, 81, 243)

In [10]:
power2+power3

(2, 4, 8, 16, 32, 3, 9, 27, 81, 243)

In [11]:
bit=(0,1,)

In [12]:
bit*4

(0, 1, 0, 1, 0, 1, 0, 1)

# 리스트(list)

In [30]:
odd=[1,3,5,7,9,]

In [31]:
odd[0]

1

In [32]:
odd[0]+odd[2]

6

In [33]:
odd[:4]

[1, 3, 5, 7]

In [34]:
odd[1:]

[3, 5, 7, 9]

In [35]:
odd[-1]

9

In [36]:
odd[:]

[1, 3, 5, 7, 9]

In [37]:
odd.append(11)

In [38]:
odd

[1, 3, 5, 7, 9, 11]

In [39]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [40]:
x=[10,20,0,40]
x

[10, 20, 0, 40]

In [41]:
x[2]=30

In [42]:
x

[10, 20, 30, 40]

In [45]:
del x[0]

In [46]:
x

[20, 30, 40]

In [47]:
del x[1]

In [48]:
x

[20, 40]

In [49]:
a=[1,4,3,2]

In [50]:
a

[1, 4, 3, 2]

In [51]:
a.sort()

In [52]:
a

[1, 2, 3, 4]

In [53]:
a=[1,2,3,4]

In [54]:
a.reverse()

In [55]:
a

[4, 3, 2, 1]

In [56]:
a=[1,2,3,4]

In [57]:
a.index(3)

2

In [58]:
a.index(5)

ValueError: 5 is not in list

In [59]:
a.pop()

4

In [60]:
a

[1, 2, 3]

In [61]:
a.pop()

3

In [62]:
a

[1, 2]

# 딕셔너리(Dictionary)

In [63]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [64]:
a = {1: 'a'}

In [65]:
a

{1: 'a'}

In [66]:
a[2] = 'b'

In [67]:
a

{1: 'a', 2: 'b'}

In [68]:
a['name'] = 'pey'

In [69]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [70]:
del a[1]

In [71]:
a

{2: 'b', 'name': 'pey'}

In [72]:
grade = {'pey': 10, 'julliet': 99}

In [73]:
grade['pey']

10

In [74]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [75]:
for k in a.keys():
    print(k)

name
phone
birth

In [76]:
list(a.keys())

['name', 'phone', 'birth']

In [77]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [78]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [79]:
a.clear()

In [80]:
a

{}

In [81]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [82]:
a.get('name')

'pey'

In [83]:
a.get('nokey')

In [84]:
a['nokey']

KeyError: 'nokey'

In [85]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [86]:
'name' in a

True

# 집합

In [87]:
s1 = set([1,2,3])

In [88]:
s1

{1, 2, 3}

In [89]:
s2 = set("Hello")

In [90]:
s2

{'H', 'e', 'l', 'o'}

In [91]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [92]:
s1 & s2

{4, 5, 6}

In [93]:
s1.intersection(s2)

{4, 5, 6}

In [94]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [95]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [96]:
s1 - s2

{1, 2, 3}

In [97]:
s1.difference(s2)

{1, 2, 3}

In [98]:
s1 = set([1, 2, 3])
s1.add(4)

In [99]:
s1

{1, 2, 3, 4}

In [100]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])

In [101]:
s1

{1, 2, 3, 4, 5, 6}

In [102]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}


|값 |	참 or 거짓|
|-------|--------|
|"python"|	참|
|""	|거짓|
|[1, 2, 3]|	참|
|[]	|거짓|
|()	|거짓|
|{}	|거짓|
|1	|참|
|0	|거짓|
|None	|거짓|

# 제어문

In [106]:
money = 1
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [107]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [108]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [109]:
1 in [1, 2, 3]

True

In [110]:
1 not in [1, 2, 3]

False

In [111]:
'j' not in 'python'

True

In [112]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
        print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [113]:
pocket = ['paper', 'handphone']
card = 1
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어가라")

택시를 타고 가라

In [114]:
pocket = ['paper', 'handphone']
card = 1
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [115]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [116]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [117]:
a = 0
while a < 10:
    a = a+1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [118]:
test_list = ['one', 'two', 'three'] 
for i in test_list:
    print(i)

one
two
three

In [119]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [120]:
marks = [90, 25, 67, 45, 80]
number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [121]:
sum = 0 
for i in range(1, 11): 
    sum = sum + i 
print(sum)

55

In [122]:
for i in range(2,10): 
    for j in range(1, 10):
        print(i*j, end=" ") 
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

# 함수

In [123]:
def sum(a, b): 
    return a + b

In [124]:
c = sum(3,4)
c

7

In [125]:
def sum_many(*args):
    sum = 0 
    for i in args: 
        sum = sum + i 
    return sum

In [126]:
result = sum_many(1,2,3)
result

6

In [127]:
result = sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [128]:
def sum_mul(choice, *args): 
    if choice == "sum": 
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul": 
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [129]:
result = sum_mul('sum', 1,2,3,4,5)
print(result)

15

In [130]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [132]:
say_myself("김태경", 38)

나의 이름은 김태경 입니다.
나이는 38살입니다.
남자입니다.

In [134]:
say_myself("김태희", 38, False)

나의 이름은 김태희 입니다.
나이는 38살입니다.
여자입니다.

# 입출력

In [135]:
a = input()

Life is too short, you need python

In [136]:
a

'Life is too short, you need python'

In [137]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 100

In [138]:
print(number)

100

# 클래스(Class)

In [139]:
class Calculator:
    def __init__(self):
        self.result = 0

    def adder(self, num):
        self.result += num
        return self.result

In [140]:
cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

# 외부 모듈

In [141]:
import math

In [143]:
math.sin(90)

0.8939966636005579

In [144]:
math.e

2.718281828459045

In [145]:
from math import e

In [146]:
e

2.718281828459045

In [147]:
from math import *

In [148]:
cos(90)**2+sin(90)**2

1.0